In [ ]:
import pandas as pd

In [ ]:
sui=pd.read_csv('/master.csv')

In [ ]:
sui.head(3)

   country  year     sex  ...  gdp_for_year ($)   gdp_per_capita ($)    generation
0  Albania  1987    male  ...      2,156,624,900                 796  Generation X
1  Albania  1987    male  ...      2,156,624,900                 796        Silent
2  Albania  1987  female  ...      2,156,624,900                 796  Generation X

[3 rows x 12 columns]

In [ ]:
len(sui.index)

27820

In [ ]:
sui.nunique()

country                 101
year                     32
sex                       2
age                       6
suicides_no            2084
population            25564
suicides/100k pop      5298
country-year           2321
HDI for year            305
 gdp_for_year ($)      2321
gdp_per_capita ($)     2233
generation                6
dtype: int64

In [ ]:
sui.value_counts()

country     year  sex     age          suicides_no  population  suicides/100k pop  country-year    HDI for year   gdp_for_year ($)   gdp_per_capita ($)  generation
Uzbekistan  2014  male    75+ years    17           224995      7.56               Uzbekistan2014  0.675         63,067,077,179      2309                Silent          1
Finland     2014  female  75+ years    11           294322      3.74               Finland2014     0.883         272,609,288,690     52832               Silent          1
                  male    25-34 years  110          356059      30.89              Finland2014     0.883         272,609,288,690     52832               Millenials      1
                          35-54 years  207          708947      29.20              Finland2014     0.883         272,609,288,690     52832               Generation X    1
                          5-14 years   1            303796      0.33               Finland2014     0.883         272,609,288,690     52832               Generation Z    1
                                                                                                                                                                        ..
Norway      1990  female  15-24 years  20           318800      6.27               Norway1990      0.849         119,791,683,308     30240               Generation X    1
                          25-34 years  19           311900      6.09               Norway1990      0.849         119,791,683,308     30240               Boomers         1
                          35-54 years  62           522500      11.87              Norway1990      0.849         119,791,683,308     30240               Silent          1
                          5-14 years   0            255100      0.00               Norway1990      0.849         119,791,683,308     30240               Generation X    1
Albania     1995  female  15-24 years  13           283500      4.59               Albania1995     0.619         2,424,499,009       835                 Generation X    1
Length: 8364, dtype: int64

In [ ]:
sui.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [ ]:
len(sui.dropna())

8364