In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
%matplotlib inline

In [ ]:
Exams=pd.read_csv('/Graduate Admissions.csv')

In [ ]:
Exams.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]